body{
    background-image:linear-gradient(30deg,#f1fffa,#eefaee,#f1f3e1,#f7ead6,#fde1d2,#fedecb,#ffdbc4,#ffd9bc,#efe1ae,#cfecb0,#a0f5c7,#5ffbf1);
    background-attachment:fixed
}
h1{
    margin:0
}
.header{
    height:100vh
}
.default-horizontal-padding{
    padding-left:14vw;
    padding-right:14vw
}
.ff-space-mono{
    font-family:'Space Mono';
    font-weight:lighter
}
.header-h1{
    font-size:3.8vw;
    font-weight:400
}
.header-p{
    font-size:1.05vw;
    word-break:break-all
}
.hp-mw{
    max-width:30vw;
}
.header-logo{
    width:auto;
    height:11vw
}
.fx{
    display:flex
}
.-ai-c{
    align-items:center
}
.-jc-spb{
    justify-content:space-between
}
.-jc-c{
    justify-content:center
}
.mg-0{
    margin:0
}
.dp-none{
    display:none
}
.bs-bb{
    box-sizing:border-box
}
.default-h1{
    font-size:2vw;
    font-weight:700
}
.default-h2{
    font-size:1.25vw;
    margin-bottom:.75vw
}
.default-p{
    width:80%;
    font-size:1.075vw;
    margin-left:.18vw
}
.mg-title{
    margin-bottom:3.05vw
}

.update-sticky{
    position: fixed;
    left: 2.7vw;
    color: white;
    font-family: Zain;
    text-decoration: none;
}
.t-p2{
    transition: 0.125s all ease-in-out;
}
.us-fg{
    width: 12vw;
    height: 2.8125vw;
    top: 2vw;
    background-image: linear-gradient(to right bottom, #363636, #4f6373, #4e9aa2, #79d1ad, #e2ffa1);
    z-index: 3;
    padding: 1vw;
    border-radius: 16px;
    overflow: hidden;
}
.us-fg-hover{
    height: 7.42270833333vw; /*change every update*/
}
.us-bg{
    width: 14vw;
    height: 1.8vw;
    background-image: linear-gradient(to right, #507777, #8fa77f);
    z-index: 2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.us-bg-hover{
    margin-top: 4.589375vw;
}
.br{
    border: 0;
}
.-us_init{
    margin-bottom: .6vw;
}
.us-ch-p{
    font-size: .90vw;
}