body{
    background-image: linear-gradient(30deg, #f1fffa, #eefaee, #f1f3e1, #f7ead6, #fde1d2, #fedecb, #ffdbc4, #ffd9bc, #efe1ae, #cfecb0, #a0f5c7, #5ffbf1);
    background-attachment: fixed;
}
h1{
    margin: 0;
}

.header{
    height: 100vh;
}
.about-me{
    min-height: 75.5vh;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 2.5vw 2.5vw white inset;
    padding: 3vw 3.5vw;
    outline: 0.3vw solid #fff;
    outline-offset: 0.33vw;
    backdrop-filter: blur(1vw);
    border-radius: 1.5vw;
    margin-bottom: 0.63vw;
    flex-direction: column;
    /*background-image: linear-gradient(180deg,transparent, #f0fcec 10vh, #e6fce5, #d9fde1, #cafede, #b9ffde);*/
}
.default-horizontal-padding{
    padding-left: 14vw;
    padding-right: 14vw;
}
.default-top-padding{
    padding-top: 7.5vh;
}

.ff-space-mono{
    font-family: 'Space Mono';
    font-weight: lighter;
}
.header-h1{
    font-size: 3.8vw;
    /*background-color: #DFEBD1;*/
    font-weight: 400;
}
.header-p{
    font-size: 1.05vw;
    max-width: 30vw;
    word-break: break-all;
}
.header-logo{
    width: auto;
    height: 11vw;
}

.fx{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-spb{
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}
.mg-0{
    margin: 0;
}
.dp-none{
    display: none;
}
.bs-bb{
    box-sizing: border-box;
}
.h-fc{
    height: fit-content;
}
.w-100p{
    width: 100%;
}

.default-h1{
    font-size: 2vw;
    font-weight: bold;
}
.default-h2{
    font-size: 1.25vw;
    margin-bottom: 0.75vw;
}
.default-p{
    font-size: 1.05vw;
    margin-left: 0.18vw;
}
.grd{
    background-clip: text;

    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;

    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.grd-about-me{
    background-image: radial-gradient(circle, #0000ff, #0041ff, #0060ff, #0079ff, #3b90ff);
}
.grd-about-me-line{
    background-image: linear-gradient(to left, #0000ff, #0048ff, #006bff, #1188ff, #5ba2ff);
}

.mg-l-h1-complementary{
    margin-left: 1vw;
}
.h1-complementary-line{
    width: 17vw;
    border-radius: 0.15vw;
    height: 0.3vw;
}
.mg-title{
    margin-bottom: 3.05vw;
}